/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation
 *= require_self
 */
html {
  color: #444;
  font-size: 14pt;
  line-height: 24pt;
}
h1, h2, h3, h4, h5, h6 {
  color: #222;
}

.sub-header {
  width: 100%;
  background: #999;
  color: white;
}
.sub-header a {
  color: white;
  text-decoration: none;
}

ul.horizontal li{
  display: inline;
}
ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
} */